name: Deploy Portfolio

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Build and deploy Angular app with Docker
        run: |
          docker compose -f docker-compose.yaml down --remove-orphans --volumes
          docker compose -f docker-compose.yaml up -d --build --force-recreate --pull always

      - name: Cleanup old Docker images and containers
        run: |
          docker system prune -af || true
