name: Deploy Portfolio

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted   # your VPS runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and deploy Angular app
        run: |
          docker compose down
          docker compose up -d --build
